<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Aesthetic</title>

  <link rel="stylesheet" href="css/login.css" />
  <link rel="stylesheet" href="css/index.css" />
  <link rel="stylesheet" href="css/admin.css" />
  <link rel="stylesheet" href="css/logo.css" />
  <script src="https://kit.fontawesome.com/154fa5a621.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar-sec">
    <div class="navbar">
      <div class="nav-items">
        <a class="nav-link" href="/adminpage">Home</a>
        <a class="nav-link" href="/listServices">Services</a>
        <a class="nav-link" href="/userlist">users</a>
        <a class="nav-link" href="/feedbacks">Messages</a>
        <a class="nav-link" href="/addBeautician">beautician </a>
      </div>
      <div class="nav-logo">
        <h1 class="logo">AESTHETIC</h1>
      </div>
      <div class="nav-button">
        <a href="/addservice"><button>Add services</button></a>
      </div>
      <div class="nav-button">
        <button id="myBtn">Appointments</button>
      </div>
    </div>
  </nav>



  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1> Appointment at</h1>
      <div style="margin-top: 5vh">
        <a href="/admin/appointmentPending"><button class="btn-nav">Doorstep appointments Pending </button></a>
        <a href="/admin/appointmentPendingSalon"><button class="btn-nav">salon appointments Pending</button></a>
        <a href="/admin/appointment"><button class="btn-nav">All Doorstep appointments </button></a>
        <a href="/admin/appointmentSalon"><button class="btn-nav">All salon appointments</button></a>

      </div>
    </div>
  </div>

  <section class="admin-body">
    <h1 style="text-align: center">Female Services</h1>
    <div class="service-card-div">
      <% if(femaleServices.length!=0){ var i=1; femaleServices.forEach(function(femaleServices){ %>
        <div class="service-card card-color">
          <h1>
            <%= femaleServices.serviceName %>
          </h1>
          <h4>cost:<%= femaleServices.cost %>
          </h4>
          <div>
            <form action="./editService/<%= femaleServices._id %>?_method=PUT" method="POST">
              <input class="text-box" value="<%= femaleServices.serviceName %>" name="serviceName" type="text"
                placeholder="Service Name" required />
              <input class="text-box" value="<%= femaleServices.cost %>" name="cost" type="text" placeholder="Cost" required />
              <button type="submit" class="btn btn-edit">update</button>
            </form>
            <form action="./deleteService/<%= femaleServices._id %>?_method=DELETE" method="POST">

              <button type="submit" class="btn btn-delete">Delete</button>
            </form>
          </div>
          </div>
         
        <% i++; }) %>
          <% } %>
    </div>
  </section>

  <section class="admin-body">
    <h1 style="text-align: center">Male Services</h1>
    <div class="service-card-div">
      <% if(maleServices.length!=0){ var i=1; maleServices.forEach(function(maleServices){ %>
        <div class="service-card card-color">
          <h1>
            <%= maleServices.serviceName %>
          </h1>
          <h4>cost: <%= maleServices.cost %>
          </h4>
          <div>
            <!-- <a href=""><button class="btn btn-edit">Edit</button></a> -->
            <form action="./editService/<%= maleServices._id %>?_method=PUT" method="POST">
              <input class="text-box" value="<%= maleServices.serviceName %>" name="serviceName" type="text"
                placeholder="Service Name" required />
              <input class="text-box" value="<%= maleServices.cost %>" name="cost" type="text" placeholder="Cost" required />
              <button type="submit" class="btn btn-edit">update</button>
            </form>
            <form action="./deleteService/<%= maleServices._id %>?_method=DELETE" method="POST">

              <button type="submit" class="btn btn-delete">Delete</button>
            </form>
          </div>
          </div>
        
        <% i++; }) %>
          <% } %>
    </div>
  </section>
</body>
<script src="/js/model.js"></script>
</html>