<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aesthetic</title>

    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/admin.css" />

    
    <script src="/js/model.js"></script>
    <script
      src="https://kit.fontawesome.com/154fa5a621.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar-sec">
      <div class="navbar">
        <div class="nav-items">
          <!-- <a class="nav-link" href="/adminpage">home</a> -->
          <a class="nav-link"  href="/adminpage" >Home</a>
          <a class="nav-link" href="/listServices">Services</a>
          <a class="nav-link" href="/userlist">users</a>
          
          <a class="nav-link" href="/addBeautician">beautician </a>
        </div>
        <div class="nav-logo">
          <h1>Aesthetic</h1>
        </div>
        <div class="nav-button">
          <a href="/addservice"><button >Add services</button></a>
        </div>
        <div class="nav-button">
         <button id="myBtn" >Appointments</button>
        </div>
      </div>
    </nav>

    

    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1> Appointment at</h1>
        <div style="margin-top: 5vh">
          <a href="/"><button class="btn-nav">Doarstep appointments </button></a>
          <a href="/admin/appointmentSalon"
            ><button class="btn-nav">salon appointments</button></a
          >
        </div>
      </div>
    </div>
    <section class="mt-5" >
      <h1 style="text-align: center" >
        Appointments at Salon
    </h1>

    <table>
        <thead>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Gender</th>
          <th>date</th>
          <th>time</th>
          <th>service</th>
          <th>status</th>
          <th>Rating</th>
          <th>feedback</th>
          
          <th>Update</th>
          

        </thead>
        
            <%
           if(appointmentsSalon.length!=0){
           var i=1;
           appointmentsSalon.forEach(function(appointmentsSalon){
           %>
           <tbody id="tbody">
               <tr>
            <td><%=appointmentsSalon.name %></td>
            <td><%=appointmentsSalon.phone %></td>
            <td><%=appointmentsSalon.gender %></td>
            <td><%=appointmentsSalon.date %></td>
            <td><%=appointmentsSalon.time %></td>
            <td><%=appointmentsSalon.service %></td>
            <td><%=appointmentsSalon.status %></td>
            <% if(appointmentsSalon.rate == 0){ %>
            <td>Yet to Rate</td>
            <td>--</td>
            <% } else{ %> 
              <td><%=appointmentsSalon.rate %></td>
            <td><%=appointmentsSalon.feedback %></td>
            <% } %>
            <td> <form action="/editAppointmentSalon/<%=appointmentsSalon._id%>?_method=PUT" method="post"><input type="text" name="status" value="completed" style="display: none;"> <button class="btn btn-edit color-y">Update as Completed</button> </form>
                 </td>
            
             </tr>
        </tbody>

            <%  i++; }) %>
             <% } %>

    </table>

    </section>


  </body>
  </html>