<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>salon</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <script
      src="https://kit.fontawesome.com/154fa5a621.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <section class="background bg-centered" style="min-height: 80vh">
      <div class="container container-centered">
        <form class="app-form" action="/addBeautician" method="POST">
          <h1 style="text-align: center">Add Beautician</h1>
          <div class="input-box">
            <i class="fas fa-user-alt"></i>
            <input
              type="text"
              name="name"
              placeholder="Name of Beautician"
              required
            />
          </div>

          <div class="input-box">
            <i class="fas fa-envelope"></i>
            <input type="text" placeholder="Email-ID of Beautician" name="email" required />
          </div>
          <div class="input-box">
            <i class="fas fa-phone-alt"></i>
            <input
              type="tel"
              placeholder="Phone number of Beautician"
              required
              pattern="[0-9]{10}"
              title="Mobile should not contain letters and more than 10 digits"
              name="phone_no"
            />
          </div>
          <div class="gender" style="margin-bottom: 2vh">
            <label class="gcontainer"
              >Male
              <input type="radio" name="gender" value="male" required />
              <span class="checkmark"></span>
            </label>
            <label class="gcontainer"
              >Female
              <input type="radio" name="gender" value="female" required />
              <span class="checkmark"></span>
            </label>
          </div>
          
          <div class="input-box">
            <i class="fas fa-lock"></i>
            <input
              type="password"
              placeholder="Your Password"
              required
              name="password"
            />
          </div>
          <label for="service">Compleate address:</label>
          <textarea
            class="input-box multi-box"
            name="address"
            id=""
            cols="20"
            rows="5"
            style="margin-bottom: 1.5vh"
            placeholder="Compleate address of Beautician"
          ></textarea>

          <button class="submit-btn" type="submit">Add</button>
        </form>
      </div>
    </section>
    <section class="list-Beautician-sec">
      <h1 >
          Beautician's
      </h1>
  
      <table>
          <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Gender</th>
            
            <th>Remove</th>
  
          </thead>
          
              <%
             if(beautician.length!=0){
             var i=1;
             beautician.forEach(function(beautician){
             %>
             <tbody id="tbody">
                 <tr>
              <td><%=beautician._id %></td>
              <td><%=beautician.name %></td>
              <td><%=beautician.email %></td>
              <td><%=beautician.phone_no %></td>
              <td><%=beautician.gender %></td>
              <td> <form action="/deleteBeautician/<%=beautician._id%>?_method=DELETE" method="post"> <button class="btn btn-delete color-r">Remove</button> </form>
                   </td>
              
               </tr>
          </tbody>
  
              <%  i++; }) %>
               <% } %>
  
      </table>
  
  </section>
    
  </body>
</html>
