<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aesthetic</title>

    <link rel="stylesheet" href="/css/recent.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <nav class="navbar-sec">
      <div class="navbar">
        <div class="nav-items">
          <a class="nav-link" href="/user/services">Services</a>
          <a class="nav-link" href="/dapp">Recent</a>
          <a class="nav-link" href="./logout">logout</a>
        </div>
        <div class="nav-logo">
          <h1>Aesthetic</h1>
        </div>
        <div class="nav-button">
          <button id="myBtn">Shedule Appointment</button>
        </div>
      </div>
    </nav>

    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Shedule Appointment at</h1>
        <div style="margin-top: 5vh">
          <a href="./appointment"><button class="btn-nav">Doarstep</button></a>
          <a href="./appointmentSalon"
            ><button class="btn-nav">salon</button></a
          >
        </div>
      </div>
    </div>

    <section class="recent-body">
      <% if(dapp.length!=0){ var i=1; dapp.forEach(function(dapp){ %>

      <div class="recent-card">
        <p class="mb-1">ID: <%= dapp._id %></p>
        <h4>Date: <%= dapp.date%></h4>
        <h4 class="mb-2">Time: <%= dapp.time%></h4>
        <h1 class="mb-1">At: Doarstep</h1>
        <h3>Services selected:</h3>

        <p><%= dapp.service %></p>
        <% if(dapp.status === "completed"){ %>
        <h3>Rate your service:</h3>
          <div>
         <form class="feedback-form" action="/sendFeedback/<%= dapp._id %>?_method=PUT" method="post">
        <div class="rate">
          <input type="radio" id="star5" name="rate" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rate" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rate" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rate" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rate" value="1" />
          <label for="star1" title="text">1 star</label>
        </div>
        
        <textarea class="feedback-text" name="feedback"
        cols="50"
        rows="3"
        placeholder="your feedback"></textarea>
        <input type="text" value="completed and feedback recived" name="status" style="display:none">
        <button class="feedback-btn" type="submit">send</button>
      </form> 
           </div>
           <% }  %>

      </div>
      <% i++; }) %> <% } %> 


      <% if(dapp2.length!=0){ var i=1;
      dapp2.forEach(function(dapp2){ %>

      <div class="recent-card">
        <p class="mb-1">ID: <%= dapp2._id %></p>
        <h4>Date: <%= dapp2.date%></h4>
        <h4 class="mb-2">Time: <%= dapp2.time%></h4>
        <h1 class="mb-1">At: Salon</h1>
        <h3>Services selected:</h3>

        <p><%= dapp2.service %></p>

        <% if(dapp2.status === "completed"){ %>
        <h3>Rate your service:</h3>
        <div>
       <form class="feedback-form" action="/sendFeedback/<%= dapp2._id %>?_method=PUT" method="post">
      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
      </div>
      
      <textarea class="feedback-text" name="feedback"
      cols="50"
      rows="3"
      placeholder="your feedback"></textarea>
      <button class="feedback-btn" type="submit">send</button>
    </form> 
         </div>
         <% }  %>

      </div>
      <% i++; }) %> <% } %>
    </section>

    <!-- <h1><%= dapp %></h1> -->
  </body>

  <script src="/js/model.js"></script>
</html>
